<!--checking for push on repo...-->
<div class="auth-wrapper">
  <!-- [ reset-password ] start -->
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <img src="assets/images/acu-logo.png" alt="" class="img-fluid mb-4" id="main-logo">
            <h4 class="mb-3 f-w-400">Reset your password</h4>
            <form [formGroup]="resetForm">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="feather icon-phone"></i></span>
              </div>
              <input type="tel" class="form-control" placeholder="Phone Number" formControlName="mobile">
            </div>
            <div class="noborder" no-lines
              *ngIf="!resetForm.controls.mobile.valid && (resetForm.controls.mobile.dirty || submitAttempt)">
              <p text-left text-wrap class="error">Please enter 10 digit Mobile No.</p>
            </div>
          </form>
            <button class="btn btn-block btn-primary mb-4" (click)="ResetPass()">Reset password</button>
            <p class="mb-0 text-muted">Don’t have an account? <a [routerLink]="['/admin/auth/signup']" class="f-w-400">Signup</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- [ reset-password ] end -->
</div>
