<div class="auth-wrapper">
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <img src="assets/images/acu-logo.png" alt="" class="img-fluid mb-4" id="main-logo">
            <h4 class="mb-3 f-w-400">Sign up</h4>
            <form [formGroup]="registerForm">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="feather icon-user"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="Username" formControlName="name">
            </div>
            <div class="noborder" no-lines
              *ngIf="!registerForm.controls.name.valid && (registerForm.controls.name.dirty || submitAttempt)">
              <p text-left text-wrap class="error">Please enter the Name</p>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="feather icon-mail"></i></span>
              </div>
              <input type="email" class="form-control" placeholder="Email address"formControlName="email" >
            </div>
            <div class="noborder" no-lines
              *ngIf="!registerForm.controls.email.valid && (registerForm.controls.email.dirty || submitAttempt)">
              <p text-left text-wrap class="error">Please enter a valid email</p>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="feather icon-mobile"></i></span>
              </div>
              <input type="tel" class="form-control" placeholder="Phone Number" formControlName="mobile">
            </div>
            <div class="noborder" no-lines
              *ngIf="!registerForm.controls.mobile.valid && (registerForm.controls.mobile.dirty || submitAttempt)">
              <p text-left text-wrap class="error">Please enter 10 digit Mobile No.</p>
            </div>
          </form>
            <div class="form-group text-left mt-2">
              <!--<div class="checkbox checkbox-primary d-inline">
                <input type="checkbox" name="checkbox-fill-2" id="checkbox-fill-2">
                <label for="checkbox-fill-2" class="cr">Send me the <a href="javascript:"> Newsletter</a> weekly.</label>
              </div>-->
            </div>
            <a class="f-w-400"><button class="btn btn-primary btn-block mb-4" border-radius="25px" (click)="Signup()">Sign up</button></a>
            <p class="mb-2">Already have an account? <a [routerLink]="['/admin/auth/signin']" class="f-w-400">Signin</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
