<div class="auth-wrapper">
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <img src="assets/images/acu-logo.png" alt="" class="img-fluid mb-4" id="main-logo">
            <h4 class="mb-3 f-w-400">Change Your Password</h4>
            <div class="input-group mb-2">
              <input type="password" class="form-control" placeholder="Current Password">
            </div>
            <div class="input-group mb-2">
              <input type="password" class="form-control" placeholder="New Password">
            </div>
            <div class="input-group mb-4">
              <input type="password" class="form-control" placeholder="Re-Type New Password">
            </div>
            
            <a [routerLink]="['/admin/auth/profile']" class="f-w-400"><button class="btn btn-block btn-primary mb-4">Change password</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!--
<div class="auth-wrapper">
  <div class="blur-bg-images"></div>
-->
  <!-- [ change-password ] start -->
  <!--
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center">
        <div class="col-md-12">
          <div class="card-body">
            <img src="assets/images/acu-logo.png" alt="" class="img-fluid mb-4" id="main-logo">
            <h4 class="mb-4 f-w-400">Change your password</h4>
            <div class="input-group mb-2">
              <input type="password" class="form-control" placeholder="Current Password">
            </div>
            <div class="input-group mb-2">
              <input type="password" class="form-control" placeholder="New Password">
            </div>
            <div class="input-group mb-4">
              <input type="password" class="form-control" placeholder="Re-Type New Password">
            </div>
            <button class="btn btn-block btn-primary mb-4">Change password</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  -->
  <!-- [ change-password ] end -->
<!--</div>-->
