<div>
    <h3 class="text-center">Welcome to the hub of Video Conferencing!!!</h3>
    <p style="font-size: large; text-align: center; color: black;">Are you looking for safe and secure video conferencing for your company? What was your expectation and were you satisfied? 
        This website has been created to provide safe, secure, smooth, and well established video conferencing solution for online 
        meeting.
    </p><br><br>
    <h3 class="text-center">AcuMeet Team</h3><br><br>
    
    <div class="row" style="color: black;">
        <div class="col-md-4 text-center">
            <img src="assets/images/user/avatar-1.jpg" alt="Image1" height="150px" width="150px" style="border-radius: 50%;border: 2px solid black;">
            <h4><b>Sumit Kumar</b></h4>
            <p>Founder & CEO of Acupace Technologies.</p>
        </div>

        <div class="col-md-4 text-center">
            <img src="assets/images/user/avatar-2.jpg" alt="Image2" height="150px" width="150px" style="border-radius: 50%;border: 2px solid black;">
            <h4><b>Vishal Kumar Sharma</b></h4>
            <p>Co-Founder and Technical Head of Acupace Technologies.</p>
        </div>
        
        <div class="col-md-4 text-center">
            <img src="assets/images/user/avatar-3.jpg" alt="Image3" height="150px" width="150px" style="border-radius: 50%;border: 2px solid black;">
            <h4><b>User3 Name</b></h4>
            <p>User3 details and his/her position/contribution to the company.</p>
        </div>
    </div>
    <br><br>
    <div class="row" style="color: black;">
        <div class="col-md-4 text-center">
            <img src="assets/images/user/img-avatar-1.jpg" alt="Image4" height="150px" width="150px" style="border-radius: 50%;border: 2px solid black;">
            <h4><b>User4 Name</b></h4>
            <p>User4 details and his/her position/contribution to the company.</p>
        </div>

        <div class="col-md-4 text-center">
            <img src="assets/images/user/img-avatar-2.jpg" alt="Image5" height="150px" width="150px" style="border-radius: 50%;border: 2px solid black;">
            <h4><b>User5 Name</b></h4>
            <p>User5 details and his/her position/contribution to the company.</p>
        </div>
        
        <div class="col-md-4 text-center">
            <img src="assets/images/user/img-avatar-3.jpg" alt="Image6" height="150px" width="150px" style="border-radius: 50%;border: 2px solid black;">
            <h4><b>User6 Name</b></h4>
            <p>User6 details and his/her position/contribution to the company.</p>
        </div>
    </div>
    <br><br>

    <h3 class="text-center">Companies/Sponsorships/Contributors/Advisors</h3>

    <br><br>
    <div class="row" style="color: black;">
        <div class="col-md-2 text-center">
            <img src="assets/images/slider/img-slide-1.jpg" alt="Company1 Logo" height="100px" width="100px" style="border-radius: 50%;border: 2px solid black;">
            <h5><b>Company1 Name</b></h5>
            <p>Company details and its contribution to the AcuMeet.</p>
        </div>

        <div class="col-md-2 text-center">
            <img src="assets/images/slider/img-slide-2.jpg" alt="Company2 Logo" height="100px" width="100px" style="border-radius: 50%;border: 2px solid black;">
            <h5><b>Company2 Name</b></h5>
            <p>Company details and its contribution to the AcuMeet.</p>
        </div>
        
        <div class="col-md-2 text-center">
            <img src="assets/images/slider/img-slide-3.jpg" alt="Company3 Logo" height="100px" width="100px" style="border-radius: 50%;border: 2px solid black;">
            <h5><b>Company3 Name</b></h5>
            <p>Company details and its contribution to the AcuMeet.</p>
        </div>

        <div class="col-md-2 text-center">
            <img src="assets/images/slider/img-slide-4.jpg" alt="Company4 Logo" height="100px" width="100px" style="border-radius: 50%;border: 2px solid black;">
            <h5><b>Company4 Name</b></h5>
            <p>Company details and its contribution to the AcuMeet.</p>
        </div>

        <div class="col-md-2 text-center">
            <img src="assets/images/slider/img-slide-5.jpg" alt="Company5 Logo" height="100px" width="100px" style="border-radius: 50%;border: 2px solid black;">
            <h5><b>Company5 Name</b></h5>
            <p>Company details and its contribution to the AcuMeet.</p>
        </div>

        <div class="col-md-2 text-center">
            <img src="assets/images/slider/img-slide-6.jpg" alt="Company6 Logo" height="100px" width="100px" style="border-radius: 50%;border: 2px solid black;">
            <h5><b>Company6 Name</b></h5>
            <p>Company details and its contribution to the AcuMeet.</p>
        </div>
    </div>
    <br><br>
    
    <div style="color: black;">
        <p style="font-size: large; "><strong>Advisor1 Name : </strong>His contribution to AcuMeet. Follow him on 
            <a href="" target="_blank">LinkedIn</a><span style="color: black"> and </span>
            <a href="" target="_blank">Twitter</a>
        </p>

        <p style="font-size: large; "><strong>Advisor2 Name : </strong>His contribution to AcuMeet. Follow him on 
            <a href="" target="_blank">LinkedIn</a><span style="color: black"> and </span>
            <a href="" target="_blank">Twitter</a>
        </p>

        <p style="font-size: large; "><strong>Advisor3 Name : </strong>His contribution to AcuMeet. Follow him on 
            <a href="" target="_blank">LinkedIn</a><span style="color: black"> and </span>
            <a href="" target="_blank">Twitter</a>
        </p>

    </div>


    <br><br>
</div>


<!--<div class="container" style="text-align:center">
    <h1>About Us</h1>
</div>
<div class="Mcontainer">
    <div class="row">
        <div class="column">
            <img src="assets/images/logo.jpg" width="60%">
        </div>
        <div class="column" style="background-color:lightsteelblue;">

            <h2>Acupace Technologies provide smart insole that generates and store electrical energy from your
                footsteps.
                <b>Acupace Technologies propose : -</b> To accelerates IoT Healthcare and digital transformation for
                companies / customers globally by
                leveraging the best in breed open source technologies and creating digital engagement solutions across
                channels.
                <hr>
                Seamlessly integrated digital experience solutions allow companies to better engage with partners,
                employees and customers.Also
                specializing in website design, SEO, content management, software training and app, graphic & web
                development and various other services.
                <hr>
                In order to give our customers the best experience from our services, we deeply understand and analyze
                their corporate needs for
                example, their services & products, goals and range of target customers. We walk the extra mile to give
                your company the best exposure
                of online visibility through our quality and timely services. Keeping in mind your brand’s needs, the
                results we deliver are invariably
                effective!
            </h2>
        </div>
    </div>
</div>
-->