* {
    box-sizing: border-box;
  }
  h1 {
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 65px;
      color:darkblue;
  }
  h2{
      font-family: 'Times New Roman', Times, serif;
      font-size: 20px;
  
  }
  .column {
    float: left;
    width: 50%;
    padding: 40px;
    
  }
  
  .row:after {
    content: "";
    display: table;
   
  }
  
  .container{
      background-color: whitesmoke;
      padding: 10px;
      border-radius: 20px;
  
  }
  .Mcontainer{
      padding: 10px;
  }