<div class="container" style="text-align:center">
    <h1>About Us</h1>
</div>
<div class="Mcontainer">
    <div class="row">
        <div class="column">
            <img src="assets/images/logo.jpg" width="60%">
        </div>
        <div class="column" style="background-color:lightsteelblue;">

            <h2>Acupace Technologies provide smart insole that generates and store electrical energy from your
                footsteps.
                <b>Acupace Technologies propose : -</b> To accelerates IoT Healthcare and digital transformation for
                companies / customers globally by
                leveraging the best in breed open source technologies and creating digital engagement solutions across
                channels.
                <hr>
                Seamlessly integrated digital experience solutions allow companies to better engage with partners,
                employees and customers.Also
                specializing in website design, SEO, content management, software training and app, graphic & web
                development and various other services.
                <hr>
                In order to give our customers the best experience from our services, we deeply understand and analyze
                their corporate needs for
                example, their services & products, goals and range of target customers. We walk the extra mile to give
                your company the best exposure
                of online visibility through our quality and timely services. Keeping in mind your brand’s needs, the
                results we deliver are invariably
                effective!
            </h2>
        </div>
    </div>
</div>