<footer class="page-footer font-small pt-4" style="background-color:teal; color: white;">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="text-uppercase">Acupace Technologies Pvt. Ltd.</h5>
          <ul class="list-unstyled">
            <li>AIC-MFIE-IM-BHU,</li>
            <li>5th floor CDC building,</li>
            <li>Banaras Hindu University,</li>
            <li>Varanasi - 221005,</li>
            <li>Uttar Pradesh, India.</li>
          </ul>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-3 mb-md-0 mb-3">
            <h5 class="text-uppercase">Company</h5>
            <ul class="list-unstyled">
              <li>
                <i class="feather icon-home"></i>
                <a href="#!" style="color: white;"> About Us</a>
              </li>
              <li>
                <i class="feather icon-lock"></i>
                <a href="#!" style="color: white;"> Privacy Policy</a>
              </li>
              <li>
                <i class="feather icon-phone"></i>
                <a href="#!" style="color: white;"> Contact Us</a>
              </li>
              <li>
                <i class="feather icon-mail"></i>
                  <a href="#!" style="color: white;"> Feedback</a>
              </li>
            </ul>
          </div>
        </div>
    </div>
  
    <div class="footer-copyright text-center py-3" style="background-color: darkslategrey;">© 2020 Copyright:
      <a href="www.acupace.in" style="color: white;"> Acupace Technologies</a>, All Rights Reserved
    </div>
  </footer>