<h5>LAST MONTH STATISTICS</h5>
<div class="row">
    <div class="col-xl-12">
        <hr>
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Messages</h3>
                    <p class="card-text">Messages exchanged this month</p>
                    <h4 class="card-number text-right">1717</h4>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Monthly Active Users</h3>
                    <p class="card-text">Active users this month</p>
                    <h4 class="card-number text-right">54</h4>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Acupace Video Conferencing</h3>
                    <p class="card-text">App ID: 1234567890qwu112345</p>
                    <p class="card-text">Region: India</p>
                    <p class="card-text">Version: v2</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12">
      <hr>
      <app-card cardTitle="MONTH SITE VISITS GROWTH" [options]="false">
        <app-apex-chart chartID="line-chart-3-cac" [chartConfig]="this.chartDB.line3CAC"></app-apex-chart>
      </app-card>
    </div>
</div>