<div class="row">
  <!-- table card start -->
  <div class="col-md-12 col-xl-4">
    <app-card [hidHeader]="true" cardClass="flat-card" blockClass="p-0">
      <div class="row-table">
        <div class="col-sm-6 card-body br">
          <div class="row">
            <div class="col-sm-4">
              <i class="icon feather icon-eye text-c-green mb-1 d-block"></i>
            </div>
            <div class="col-sm-8 text-md-center">
              <h5>10k</h5>
              <span>Visitors</span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 card-body">
          <div class="row">
            <div class="col-sm-4">
              <i class="icon feather icon-music text-c-red mb-1 d-block"></i>
            </div>
            <div class="col-sm-8 text-md-center">
              <h5>100%</h5>
              <span>Volume</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row-table">
        <div class="col-sm-6 card-body br">
          <div class="row">
            <div class="col-sm-4">
              <i class="icon feather icon-file-text text-c-blue mb-1 d-block"></i>
            </div>
            <div class="col-sm-8 text-md-center">
              <h5>2000 +</h5>
              <span>Files</span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 card-body">
          <div class="row">
            <div class="col-sm-4">
              <i class="icon feather icon-mail text-c-yellow mb-1 d-block"></i>
            </div>
            <div class="col-sm-8 text-md-center">
              <h5>120</h5>
              <span>Mails</span>
            </div>
          </div>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-md-12 col-xl-4">
    <app-card [hidHeader]="true" cardClass="flat-card" blockClass="p-0">
      <div class="row-table">
        <div class="col-sm-6 card-body br">
          <div class="row">
            <div class="col-sm-4">
              <i class="icon feather icon-share-2 text-c-purple mb-1 d-block"></i>
            </div>
            <div class="col-sm-8 text-md-center">
              <h5>1000</h5>
              <span>Shares</span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 card-body">
          <div class="row">
            <div class="col-sm-4">
              <i class="icon feather icon-wifi text-c-purple mb-1 d-block"></i>
            </div>
            <div class="col-sm-8 text-md-center">
              <h5>600</h5>
              <span>Network</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row-table">
        <div class="col-sm-6 card-body br">
          <div class="row">
            <div class="col-sm-4">
              <i class="icon feather icon-rotate-ccw text-c-purple mb-1 d-block"></i>
            </div>
            <div class="col-sm-8 text-md-center">
              <h5>3550</h5>
              <span>Returns</span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 card-body">
          <div class="row">
            <div class="col-sm-4">
              <i class="icon feather icon-shopping-cart text-c-purple mb-1 d-blockz"></i>
            </div>
            <div class="col-sm-8 text-md-center">
              <h5>100%</h5>
              <span>Order</span>
            </div>
          </div>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-md-12 col-xl-4">
    <app-card [hidHeader]="true" blockClass="p-0" cardClass="flat-card widget-primary-card">
      <div class="row-table">
        <div class="col-sm-3 card-body">
          <i class="feather icon-star-on"></i>
        </div>
        <div class="col-sm-9">
          <h4>4000 +</h4>
          <h6>Ratings Received</h6>
        </div>
      </div>
    </app-card>
    <app-card [hidHeader]="true" blockClass="p-0" cardClass="flat-card widget-purple-card">
      <div class="row-table">
        <div class="col-sm-3 card-body">
          <i class="fas fa-trophy"></i>
        </div>
        <div class="col-sm-9">
          <h4>17</h4>
          <h6>Achievements</h6>
        </div>
      </div>
    </app-card>
  </div>
  <!-- table card end -->

  <!-- impression, goal, impact start -->
  <div class="col-xl-4 col-md-12">
    <app-card [hidHeader]="true" cardClass="comp-card">
      <div class="row align-items-center">
        <div class="col">
          <h6 class="m-b-20">Impressions</h6>
          <h3 class="text-c-blue">1,563</h3>
          <p class="m-b-0">May 23 - June 01 (2018)</p>
        </div>
        <div class="col-auto">
          <i class="fas fa-eye badge-light-primary"></i>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-xl-4 col-md-12">
    <app-card [hidHeader]="true" cardClass="comp-card">
      <div class="row align-items-center">
        <div class="col">
          <h6 class="m-b-20">Goal</h6>
          <h3 class="text-c-green">30,564</h3>
          <p class="m-b-0">May 28 - June 01 (2018)</p>
        </div>
        <div class="col-auto">
          <i class="fas fa-bullseye badge-light-success"></i>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-xl-4 col-md-12">
    <app-card [hidHeader]="true" cardClass="comp-card">
      <div class="row align-items-center">
        <div class="col">
          <h6 class="m-b-20">Impact</h6>
          <h3 class="text-c-yellow">42.6%</h3>
          <p class="m-b-0">May 30 - June 01 (2018)</p>
        </div>
        <div class="col-auto">
          <i class="fas fa-hand-paper badge-light-warning"></i>
        </div>
      </div>
    </app-card>
  </div>
  <!-- impression, goal, impact end -->

  <!-- project-ticket start -->
  <div class="col-xl-4 col-md-12">
    <app-card [hidHeader]="true" cardClass="proj-t-card">
      <div class="row align-items-center m-b-30">
        <div class="col-auto">
          <i class="far fa-calendar-check text-c-red f-30"></i>
        </div>
        <div class="col p-l-0">
          <h6 class="m-b-5">Ticket Answered</h6>
          <h6 class="m-b-0 text-c-red">Live Update</h6>
        </div>
      </div>
      <div class="row align-items-center text-center">
        <div class="col">
          <h6 class="m-b-0">327</h6>
        </div>
        <div class="col"><i class="fas fa-exchange-alt text-c-red f-18"></i></div>
        <div class="col">
          <h6 class="m-b-0">10 Days</h6>
        </div>
      </div>
      <h6 class="pt-badge badge-light-danger">53%</h6>
    </app-card>
  </div>
  <div class="col-xl-4 col-md-12">
    <app-card [hidHeader]="true" cardClass="proj-t-card">
      <div class="row align-items-center m-b-30">
        <div class="col-auto">
          <i class="fas fa-paper-plane text-c-green f-30"></i>
        </div>
        <div class="col p-l-0">
          <h6 class="m-b-5">Project Launched</h6>
          <h6 class="m-b-0 text-c-green">Live Update</h6>
        </div>
      </div>
      <div class="row align-items-center text-center">
        <div class="col">
          <h6 class="m-b-0">3 Year</h6>
        </div>
        <div class="col"><i class="fas fa-exchange-alt text-c-green f-18"></i></div>
        <div class="col">
          <h6 class="m-b-0">623</h6>
        </div>
      </div>
      <h6 class="pt-badge badge-light-success">76%</h6>
    </app-card>
  </div>
  <div class="col-xl-4 col-md-12">
    <app-card [hidHeader]="true" cardClass="proj-t-card">
      <div class="row align-items-center m-b-30">
        <div class="col-auto">
          <i class="fas fa-lightbulb text-c-yellow f-30"></i>
        </div>
        <div class="col p-l-0">
          <h6 class="m-b-5">Unique Innovation</h6>
          <h6 class="m-b-0 text-c-yellow">Live Update</h6>
        </div>
      </div>
      <div class="row align-items-center text-center">
        <div class="col">
          <h6 class="m-b-0">1 Month</h6>
        </div>
        <div class="col"><i class="fas fa-exchange-alt text-c-yellow f-18"></i></div>
        <div class="col">
          <h6 class="m-b-0">248</h6>
        </div>
      </div>
      <h6 class="pt-badge badge-light-warning">73%</h6>
    </app-card>
  </div>
  <!-- project-ticket end -->

  <!-- ticket, project, client start -->
  <div class="col-xl-3 col-md-6">
    <app-card [hidHeader]="true" cardClass="ticket-card">
      <p class="m-b-25 badge-light-danger lbl-card"><i class="fas fa-folder-open m-r-5"></i> Open Tickets</p>
      <div class="text-center">
        <h2 class="m-b-0 d-inline-block text-c-red">128</h2>
        <p class="m-b-0 d-inline-block">Tickets</p>
        <p class="m-b-0 m-t-10"><i class="fas fa-caret-down m-r-10 f-18 text-c-red"></i>From Previous Month</p>
      </div>
    </app-card>
  </div>
  <div class="col-xl-3 col-md-6">
    <app-card [hidHeader]="true" cardClass="ticket-card">
      <p class="m-b-25 badge-light-primary lbl-card"><i class="fas fa-file-archive m-r-5"></i> Close Tickets</p>
      <div class="text-center">
        <h2 class="m-b-0 d-inline-block text-c-blue">134</h2>
        <p class="m-b-0 d-inline-block">Tickets</p>
        <p class="m-b-0 m-t-10"><i class="fas fa-caret-up m-r-10 f-18 text-c-blue"></i>From Previous Month</p>
      </div>
    </app-card>
  </div>
  <div class="col-xl-3 col-md-6">
    <app-card [hidHeader]="true" cardClass="ticket-card">
      <p class="m-b-25 badge-light-success lbl-card"><i class="fas fa-users m-r-5"></i> New Clients</p>
      <div class="text-center">
        <h2 class="m-b-0 d-inline-block text-c-green">307</h2>
        <p class="m-b-0 d-inline-block">Clients</p>
        <p class="m-b-0 m-t-10"><i class="fas fa-caret-up m-r-10 f-18 text-c-green"></i>From Previous Month</p>
      </div>
    </app-card>
  </div>
  <div class="col-xl-3 col-md-6">
    <app-card [hidHeader]="true" cardClass="ticket-card">
      <p class="m-b-25 badge-light-warning lbl-card"><i class="fas fa-database m-r-5"></i> New Orders</p>
      <div class="text-center">
        <h2 class="m-b-0 d-inline-block text-c-yellow">231</h2>
        <p class="m-b-0 d-inline-block">Orders</p>
        <p class="m-b-0 m-t-10"><i class="fas fa-caret-up m-r-10 f-18 text-c-yellow"></i>From Previous Month</p>
      </div>
    </app-card>
  </div>
  <!-- ticket, project, client end -->
</div>
