<div class="auth-wrapper">
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <img src="assets/images/logof.png" alt="" class="img-fluid mb-4" id="main-logo">
            <h4 class="mb-3 f-w-400">Signin</h4>
            <form [formGroup]="loginForm">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="feather icon-phone"></i></span>
                </div>
                <input type="tel" class="form-control" placeholder="Phone Number" formControlName="mobileno">
              </div>
              <div class="noborder" no-lines
                *ngIf="!loginForm.controls.mobileno.valid && (loginForm.controls.mobileno.dirty || submitAttempt)">
                <p text-left text-wrap class="error">Please enter the mobileno</p>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="feather icon-lock"></i></span>
                </div>
                <input type="password" class="form-control" placeholder="Password" formControlName="password" >
              </div>
              <div class="noborder" no-lines
                *ngIf="!loginForm.controls.password.valid && (loginForm.controls.password.dirty || submitAttempt)">
              </div>
            </form>
            <div class="form-group text-left mt-2">
              <div class="checkbox checkbox-primary d-inline">
                <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="">
                <label for="checkbox-fill-a1" class="cr"> Save credentials</label>
              </div>
            </div>
            <button class="btn btn-primary event-btn m-2" type="button" (click)="login()" style="border-radius: 20px;">
              <span *ngIf="this.btnLoader" class="spinner-border spinner-border-sm" role="status"></span>
              <span *ngIf="this.btnLoader" class="load-text"> Loading...</span>
              <span *ngIf="!this.btnLoader" class="btn-text">Signin</span>
            </button>
            <p class="mb-2 text-muted">Forgot password? <a [routerLink]="['/admin/auth/reset-password']" class="f-w-400">Reset</a></p>
            <p class="mb-0 text-muted">Don’t have an account? <a [routerLink]="['/admin/auth/signup']" class="f-w-400">Signup</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
