<ng-container>
  <div class="page-header">
    <div class="page-block">
      <div class="row align-items-center">
        <div class="col-md-12">
          <div class="page-header-title">
            <ng-container><h5 class="m-b-10">Create</h5></ng-container>
          </div>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
            <ng-container>
              <li class="breadcrumb-item"><a href="javascript:">User</a></li>
              <li class="breadcrumb-item active" aria-current="page">Create</li>
            </ng-container>
          </ul>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<app-card [options]="false">
      <h5>New User</h5>
      <hr>
      <form [formGroup]="issueForm" (ngSubmit)="submitForm()" novalidate>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-3 col-form-label">UID :</label>
              <div class="col-sm-9">
                <input type="text" formControlName="u_id" class="form-control" maxlength="20">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword3" class="col-sm-3 col-form-label">Name :</label>
              <div class="col-sm-9">
                <input type="text" formControlName="u_name" class="form-control" maxlength="20">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword3" class="col-sm-3 col-form-label">Avatar :</label>
              <div class="col-sm-9">
                <input type="text" formControlName="u_avatar" class="form-control" maxlength="20">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword3" class="col-sm-3 col-form-label">Link :</label>
              <div class="col-sm-9">
                <input type="link" class="form-control" id="inputPassword3" placeholder="">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword3" class="col-sm-3 col-form-label">Role :</label>
              <div class="col-sm-9">
                <input type="text" formControlName="u_role" class="form-control" maxlength="20">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword3" class="col-sm-3 col-form-label">Meta Data :</label>
              <div class="col-sm-9">
                <input type="text" formControlName="u_mdata" class="form-control" maxlength="20">
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Create User</button>
      
          </form>
  </app-card>


<!--

<div class="wrapper">
    <div class="title">
      Create User
    </div>
    <div class="form">
       <div class="inputfield">
          <label>UID</label>
          <input type="text" class="input">
       </div>  
        <div class="inputfield">
          <label>Name</label>
          <input type="text" class="input">
       </div>  
       <div class="inputfield">
          <label>Avatar</label>
          <input type="text" class="input">
       </div>  
      <div class="inputfield">
          <label>LINK</label>
          <input type="text" class="input">
       </div> 
        <div class="inputfield">
          <label>Role</label>
          <div class="custom_select">
            <select>
              <option value="">Select</option>
              <option value="admin">Admin</option>
              <option value="user">User</option>
            </select>
          </div> 
       </div>
        <div class="inputfield">
          <label>Meta Data</label>
          <input type="text" class="input">
        </div>
        <div class="inputfield terms">
          <label class="check">
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <p>Agreed to terms and conditions</p>
       </div> 
      <div class="inputfield">
        <input type="submit" value="Create User" class="btn">
      </div>
     </div>
    </div>
-->