<div class="wrapper">
    <div class="title">
      Create User
    </div>
    <div class="form">
       <div class="inputfield">
          <label>UID</label>
          <input type="text" class="input">
       </div>  
        <div class="inputfield">
          <label>Name</label>
          <input type="text" class="input">
       </div>  
       <div class="inputfield">
          <label>Avatar</label>
          <input type="text" class="input">
       </div>  
      <div class="inputfield">
          <label>LINK</label>
          <input type="text" class="input">
       </div> 
        <div class="inputfield">
          <label>Role</label>
          <div class="custom_select">
            <select>
              <option value="">Select</option>
              <option value="admin">Admin</option>
              <option value="user">User</option>
            </select>
          </div> 
       </div>
        <div class="inputfield">
          <label>Meta Data</label>
          <input type="text" class="input">
        </div>
        <div class="inputfield terms">
          <label class="check">
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <p>Agreed to terms and conditions</p>
       </div> 
      <div class="inputfield">
        <input type="submit" value="Create User" class="btn">
      </div>
     </div>
    </div>
