  <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar" style="background-color:teal;">
    <a [routerLink]="['/']" class="f-w-400"><img src="assets/images/logof.png" alt="Logo" width="3%" class="float-left" style="margin-right: 20px;" id="main-logo"></a>
    <a class="navbar-brand" style="background-color: teal;"><strong>AcuMeet</strong></a>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:4200/admin/about-us">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
      </ul>
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fab fa-instagram"></i></a>
        </li>
      </ul>
    </div>
  </nav>