<ng-container>
  <div class="page-header">
    <div class="page-block">
      <div class="row align-items-center">
        <div class="col-md-12">
          <div class="page-header-title">
            <ng-container>
              <h5 class="m-b-10">Room</h5>
            </ng-container>
          </div>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
            <ng-container>
              <li class="breadcrumb-item"><a href="javascript:">MyRoom</a></li>
            </ng-container>
          </ul>
        </div>

      </div>
    </div>
  </div>
</ng-container>
<div class="col-sm-12">
  <app-card [hidHeader]="true" cardClass="tab-card">
    <h3 class="mb-3">My Room</h3>
    <ngb-tabset type="pills">
      <ngb-tab title="Created Rooms" class="mb-3">
        <ng-template ngbTabContent>
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title">No Meeting !!!</h5>
              <p class="card-text">Start your first meeting</p>
              <button type="button" class="btn btn-primary" data-toggle="modal"
                (click)="modalDefault.show()">Create Meeting</button>
              <app-ui-modal #modalDefault dialogClass="modal-dialog-centered">
                <div class="app-modal-body">
                  <div class="app-modal-header">
                    <h4 class="mb-3 f-w-400">Invite People to Join Your Conference Room</h4>
                    <div class="app-modal-body">
                      <form [formGroup]="inviteForm">
                        <div class="input-group mb-3">
                          <input type="text" class="form-control" placeholder="Please Enter the Room name" formControlName="channel_name">
                        </div>
                        <div class="noborder" no-lines
                          *ngIf="!inviteForm.controls.channel_name.valid && (inviteForm.controls.channel_name.dirty || submitAttempt)">
                          <p text-left text-wrap class="error">Please enter the Valid Email</p>
                        </div>
                        <div class="input-group mb-3">
                          <input type="email" class="form-control" placeholder="Please Enter the attendee_email" formControlName="attendee_email">
                        </div>
                        <div class="noborder" no-lines
                          *ngIf="!inviteForm.controls.attendee_email.valid && (inviteForm.controls.attendee_email.dirty || submitAttempt)">
                          <p text-left text-wrap class="error">Please enter the Valid Email</p>
                        </div>
                        <div class="input-group mb-3">
                          <input type="datetime-local" class="form-control" placeholder="Link to the Room" formControlName="host_meeting_start_time">
                        </div>
                        <div class="noborder" no-lines
                          *ngIf="!inviteForm.controls.host_meeting_start_time && (inviteForm.controls.host_meeting_start_time.dirty || submitAttempt)">
                          <p text-left text-wrap class="error">Please enter the Start Time of the Meeting</p>
                        </div>
                        <div class="input-group mb-3">
                          <input type="datetime-local" class="form-control" placeholder="Link to the Room" formControlName="host_meeting_end_time">
                        </div>
                        <div class="noborder" no-lines
                          *ngIf="!inviteForm.controls.host_meeting_end_time && (inviteForm.controls.host_meeting_end_time.dirty || submitAttempt)">
                          <p text-left text-wrap class="error">Please enter the End Time of the Meeting</p>
                        </div>
                      </form>
                      <button type="button" class="btn btn-primary btn-lg" (click)="Invite()">Invite</button>
                    </div>
                  </div>
                  <div class="app-modal-footer">
                  </div>
                </div>
              </app-ui-modal>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Joined Rooms">
        <ng-template ngbTabContent>
          <p>No rooms found !!!</p>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Meeting Logs">
        <ng-template ngbTabContent>
          <p>No meeting logs found !!!</p>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </app-card>
</div>