<ng-container>
    <div class="page-header">
      <div class="page-block">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title">
              <ng-container><h5 class="m-b-10">Room</h5></ng-container>
            </div>
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
              <ng-container>
                <li class="breadcrumb-item"><a href="javascript:">MyRoom</a></li>
              </ng-container>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </ng-container>