#meet {
	width: 100px;
	height: 100px;
}
.share{
	margin-right: 10px;	
}
.error{
	color: red;
	font-size: 20px;
	margin-top: 10px;
	margin-right: 10px;
  }
  .pad{
	margin-right: 10px;
	margin-top: 10px;
  }