<div class="col-12">
  <app-card cardTitle="Group List" blockClass="table-border-style">
    <div class="table-responsive">

      <table class="table table-dark table-hover table-striped table-styling">
        <thead>
       <tr>
      <th>Icon</th>
      <th>Name</th>
      <th>GUID</th>
      <th>Type</th>
      <th>Description</th>
      <th>Created By</th>
      <th>Created at</th>
      <th><button>Action</button></th>
    </tr>
  </thead>
        <tbody>
        <tr class="active-row">
      <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSuRBFgBGO67Dxq9V-9vR3SsKBAhssT5hiqKsSFtK4jxuTkRxd1&usqp=CAU"></td>
      <td>comic con</td>
      <td>110120</td>
      <td>public</td>
      <td></td>
      <td>coolboy62</td>
      <td>Today at 1:04 PM</td>
      <td><button>Action</button></td>
    </tr>
        <tr class="active-row">
      <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTZxrQ1WYa2bUNqSiCiYYjOkoJh0aT9fLCJvAn7029weCqzHF5x&usqp=CAU"></td>
      <td>acupace</td>
      <td>1101655</td>
      <td>public</td>
      <td></td>
      <td>coolboy62</td>
      <td>Today at 12:04 PM</td>
      <td><button>Action</button></td>
    </tr>
        <tr class="active-row">
      <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSuRBFgBGO67Dxq9V-9vR3SsKBAhssT5hiqKsSFtK4jxuTkRxd1&usqp=CAU"></td>
      <td>acumeet</td>
      <td>1101658</td>
      <td>public</td>
      <td></td>
      <td>coolboy62</td>
      <td>Today at 11:04 AM</td>
      <td><button>Action</button></td>
    </tr>
        
        
        </tbody>
      </table>
    </div>
  </app-card>
</div>