@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

p {
  font-family: Lato;
}

.video-container{
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.agora_local{
  background-color: #404040;
  height: 510px;
  width: 760px;
  border: #00cec9 5px solid;
  position: absolute;
  top: 17%;
  left: 17%;
}
#agora_local{
  height: 500px;
  width: 750px;
  position: relative;
  bottom: 6%;
}
.agora_remote{
  background-color: #404040;
  height: 115px;
  width: 175px;
  border: #636e72 5px solid;
  position: relative;
  top: 20px;
  left: 10%;
  margin: 5px 5px 5px 5px;
  display: inline-block;
}
.video-buttons{
  width: 250px;
  top: 95%;
  left: 30%;
  position: relative;
  text-align: center;
  z-index: 999;
}

.video-buttons i{
  cursor: pointer;
}

.endCall{
  color: red;
}

.startCall{
  color: white;
}

.mic{
  color: white;
}
#agora_local > div{
  border-radius: 10px;
}
.middle {
  float: left;
  width: 90%;
  overflow: hidden;
  /*will change this to hidden later to deny scolling to user*/
  white-space: nowrap;
}
