@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

p {
  font-family: Lato;
}

.video-container{
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.agora_local{
  background-color: #404040;
  height: 35%;
  width: 45%;
  border: #0984e3 5px solid;
  position: absolute;
  top: 20%;
  left: 22%;
  border-radius:15px;
}
.agora_local-fullscreen{
  position: absolute;
  width: 100%;
  height: 100%;
}
#agora_local{
  height: 100%;
  width: 100%;
  position: relative;
  bottom: 8%;
}
#agora_local-fullscreen{
  position: relative;
  width: 100%;
  height: 100%;
  bottom: 9%;
  border-radius: 10px;
  border: #2d3436 6px solid;

}
.agora_remote{
  background-color: #404040;
  height: 115px;
  width: 175px;
  border: #2d3436 6px solid;
  position: relative;
  top: 15px;
  left: 10%;
  margin: 5px 5px 5px 5px;
  display: inline-block;
  border-radius: 10px;
  
}
.video-buttons-fullscreen{
  width: 250px;
  top: 95%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
  z-index: 999;
}

.video-buttons-fullscreen i{
  cursor: pointer;
  position: relative;
  bottom: 30px;
  margin: 6px;
  font-size: 30px;
  background-color: black;
  border: black 6px solid;
  border-radius: 5px;
}
.video-buttons{
  width: 250px;
  top: 95%;
  left: 30%;
  position: relative;
  text-align: center;
  z-index: 999;
}

.video-buttons i{
  cursor: pointer;
  position: relative;
  bottom: 20px;
}
.endCall{
  color: red;
}

.startCall{
  color: white;
}

.mic{
  color: white;
}
#agora_local > div{
  border-radius: 10px;
}
.middle {
  float: left;
  width: 90%;
  height: 150px;
  overflow: hidden;
  /*will change this to hidden later to deny scolling to user*/
  /*white-space: nowrap;*/
  background-color: #636e72;
  opacity: 0.7;
  border-radius: 10px;
}
.agora_remote:hover {
  opacity: 1;
  border: #0984e3 5px solid;
}
#right_arrow  {
  font-size:48px;  
  color:#0984e3;
  position: relative;
  right: 50px;
  top: 40px;
}
#left_arrow{
  font-size:48px; 
  color:#0984e3;
  position: relative;
  top: 40px;
}

.container {
  margin-left: auto;
  margin-right: auto;
}
.card.full-card {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 99999;
  border-radius: 0;
  width: 100% !important;
  height: 100% !important;
}