<!-- Editable table -->
<!--
<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Editable table</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2">
        <a class="text-success" (click)="add()">
          <mdb-icon fas icon="plus" size="2x"></mdb-icon>
        </a>
      </span>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <th class="text-center">Person Name</th>
          <th class="text-center">Age</th>
          <th class="text-center">Company Name</th>
          <th class="text-center">Country</th>
          <th class="text-center">City</th>
          <th class="text-center">Sort</th>
          <th class="text-center">Remove</th>
        </tr>
        <tr *ngFor="let person of personList; let id = index">
          <td>
            <span (keyup)="changeValue(id, 'name', $event)" (blur)="updateList(id, 'name', $event)" contenteditable="true">{{person.name}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'age', $event)" (blur)="updateList(id, 'age', $event)">{{person.age}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'companyName', $event)" (blur)="updateList(id, 'companyName', $event)">{{person.companyName}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'country', $event)" (blur)="updateList(id, 'country', $event)">{{person.country}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'city', $event)" (blur)="updateList(id, 'city', $event)">{{person.city}}</span>
          </td>
          <td>
            <span class="table-up">
              <a class="indigo-text">
                <mdb-icon fas icon="long-arrow-alt-up"></mdb-icon>
              </a>
            </span>
            <span class="table-down">
              <a class="indigo-text">
                <mdb-icon fas icon="long-arrow-alt-down"></mdb-icon>
              </a>
            </span>
          </td>
          <td>
            <span class="table-remove">
              <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0" (click)="remove(id)">Remove</button>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
-->
<!-- Editable table -->

<div class="row">
  <div class="col-sm-12">
<span></span>

 
 <div class="col-xl-12">
    <app-card cardTitle="Personal Info" blockClass="table-border-style">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th><img class="hei-75 wid-75 bg-light d-inline-block mr-2 border border-secondary rounded-circle" placement="auto" ngbTooltip="rounded-circle" src="https://i.redd.it/i8t6f16vdd421.jpg" alt="profile"></th>
            <th><button type="button" class="btn btn-dark" ngbTooltip="btn-dark">USERNAME</button></th>
            <th><a href=""><span class="badge m-r-5 badge-pill badge-primary">edit</span></a></th>
            
          </tr>
          </thead>
          <tbody>
          <tr>
            
            <td><b>Personal Meeting ID</b></td>
            <td>1101152</td>
            <th><a href=""><span class="badge m-r-5 badge-pill badge-primary">edit</span></a></th>
          </tr>
          <tr>
            
            <td><b>Sign-In Email</b></td>
            <td>user@gmail.com</td>
            <th><a href=""><span class="badge m-r-5 badge-pill badge-primary">edit</span></a></th>
          </tr>
          <tr>
            
            <td><b>User Type</b></td>
            <td>Basic</td>
            <th><a href=""><span class="badge m-r-5 badge-pill badge-primary">edit</span></a></th>
          </tr>
          <tr>
            
            <td><b>Capacity</b></td>
            <td>Meeting 100</td>
            <td></td>
          </tr>
          <tr>
            
            <td><b>Language</b></td>
            <td>English</td>
            <th><a href=""><span class="badge m-r-5 badge-pill badge-primary">edit</span></a></th>
          </tr>
          <tr>
            
            <td><b>Host key</b></td>
            <td>******</td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>
      <button type="submit" class="btn btn-primary">Update Info</button>
    </app-card>
    <a [routerLink]="['/admin/auth/signin']"><button type="submit" class="btn btn-danger">Sign Out </button></a>
  </div>


 </div>
 </div>
