<div class="row">
  <div class="col-sm-12">
    <!--<h2><a [routerLink]="['dashboard/analytics']">Acupace Technology </a></h2>-->
<!--<h5 class="mt-5"> Username </h5>-->

<span></span>
 <div class="col-xl-12">
    <app-card cardTitle="Personal Info" blockClass="table-border-style">
      <div class="table-responsive">
        <form [formGroup]="profileForm">
        <table class="table table-striped">
          <thead>
          <tr>
            <th><img class="hei-75 wid-75 bg-light d-inline-block mr-2 border border-secondary rounded-circle" placement="auto" ngbTooltip="rounded-circle" src="{{profile_pic}}" alt="profile"></th>
            <th><input type="button" class="btn btn-dark" ngbTooltip="btn-dark" *ngIf="!IsnameEnabled; else NameEdit" value="{{name}}"></th>
            <ng-template #NameEdit><input type="text" value="{{name}}" formControlName="name"></ng-template>
            <th><a (click)="name_edit()" [ngStyle]="{'cursor':'pointer'}"><span class="badge m-r-5 badge-pill badge-primary">edit</span></a></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><b>User ID</b></td>
            <td><input type="text" value="{{userId}}" disabled></td>
            <th></th>
          </tr>
          <tr>
            <td><b>Sign-In Email</b></td>
            <td><input type="email" value="{{user_email}}" disabled></td>
            <th></th>
          </tr>
          <tr>
            
            <td><b>User Type</b></td>
            <td><input type="text" value="Basic" disabled></td>
            <th></th>
          </tr>
          <tr>
            <td><b>Address</b></td>
            <td><input type="text" value="{{address}}"disabled *ngIf="!IsaddressEnabled; else AdressEdit"></td>
            <ng-template #AdressEdit><input type="text" value="{{address}}" formControlName="address"></ng-template>
            <th><a (click)="address_edit()" [ngStyle]="{'cursor':'pointer'}"><span class="badge m-r-5 badge-pill badge-primary">edit</span></a></th>
          </tr>
          <tr>
            <td><b>Password</b></td>
            <td><input type="text" value="{{password}}" disabled *ngIf="!IspasswordEnabled; else PasswordEdit"></td>
            <ng-template #PasswordEdit><input type="text" value="{{password}}"formControlName="password"></ng-template>
            <th><a (click)="password_edit()" [ngStyle]="{'cursor':'pointer'}"><span class="badge m-r-5 badge-pill badge-primary">edit</span></a></th>
          </tr>
          <tr>
          </tr>
          </tbody>
        </table>
      </form>
      </div>
      <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
        <p style="color: white">Please Wait. </p>  
      </ngx-spinner>    
      <button class="btn btn-primary event-btn m-2" type="button" (click)="Update()">
        <span *ngIf="this.submitLoader" class="spinner-grow spinner-grow-sm" role="status"></span>
        <span *ngIf="this.submitLoader" class="load-text"> Updating...</span>
        <span *ngIf="!this.submitLoader" class="btn-text">Update Info</span>
      </button>
    </app-card>
    <a [routerLink]="['/admin/auth/signin']" (click)="Logout()"><button type="submit" class="btn btn-danger">Sign Out</button></a>
  </div>


 </div>
 </div>
