<div class="row">
  <div class="col-sm-12">
    <!--<h2><a [routerLink]="['dashboard/analytics']">Acupace Technology </a></h2>-->
<!--<h5 class="mt-5"> Username </h5>-->

<span></span>

 
 <div class="col-xl-12">
    <app-card cardTitle="Personal Info" blockClass="table-border-style">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th><img class="hei-75 wid-75 bg-light d-inline-block mr-2 border border-secondary rounded-circle" placement="auto" ngbTooltip="rounded-circle" src={{profile_pic}} alt="profile"></th>
            <th><button type="button" class="btn btn-dark" ngbTooltip="btn-dark">{{name}}</button></th>
            <th><a href=""><span class="badge m-r-5 badge-pill badge-primary">edit</span></a></th>
            
          </tr>
          </thead>
          <tbody>
          <tr>
            
            <td><b>Personal Meeting ID</b></td>
            <td>{{userId}}</td>
            <th><a href=""><span class="badge m-r-5 badge-pill badge-primary">edit</span></a></th>
          </tr>
          <tr>
            
            <td><b>Sign-In Email</b></td>
            <td>{{user_email}}</td>
            <th><a href=""><span class="badge m-r-5 badge-pill badge-primary">edit</span></a></th>
          </tr>
          <tr>
            
            <td><b>User Type</b></td>
            <td>Basic</td>
            <th><a href=""><span class="badge m-r-5 badge-pill badge-primary">edit</span></a></th>
          </tr>
          <tr>
            
            <td><b>Mobile</b></td>
            <td>{{mobile}}</td>
            <th><a href=""><span class="badge m-r-5 badge-pill badge-primary">edit</span></a></th>
          </tr>
          <tr>
            
            <td><b>Address</b></td>
            <td>{{address}}</td>
            <th><a href=""><span class="badge m-r-5 badge-pill badge-primary">edit</span></a></th>
          </tr>
          <tr>
            
            <td><b>Pincode</b></td>
            <td>{{pincode}}</td>
            <th><a href=""><span class="badge m-r-5 badge-pill badge-primary">edit</span></a></th>
          </tr>
          <tr>
            
            <td><b>Capacity</b></td>
            <td>Meeting 100</td>
            <td></td>
          </tr>
          <tr>
            
            <td><b>Language</b></td>
            <td>English</td>
            <th><a href=""><span class="badge m-r-5 badge-pill badge-primary">edit</span></a></th>
          </tr>
          <tr>
            
            <td><b>Host key</b></td>
            <td>******</td>
            <td></td>
          </tr>
          
          </tbody>
        </table>
      </div>
      <button type="submit" class="btn btn-primary">Update Info</button>
    </app-card>
    <a [routerLink]="['/admin/auth/signin']"><button type="submit" class="btn btn-danger">Sign Out</button></a>
  </div>


 </div>
 </div>