<div class="col-12">
  <app-card cardTitle="User List" blockClass="table-border-style">
    <div class="table-responsive">

      <table class="table table-hover table-striped table-styling">
        <thead>
          <tr>
            <th>Avatar</th>
            <th>Name</th>
            <th>UID</th>
            <th>Created At</th>
            <th>Role</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody *ngFor="let user of usersList">
          <tr class="active-row">
            <td><img src="{{user.images[0]}}"></td>
            <td>{{user.Name}}</td>
            <td>{{user.id}}</td>
            <td>{{user.date}}</td>
            <td>{{user.task}}</td>
            <td><a href="#"><span class="badge m-r-5 badge-pill badge-primary">Action</span></a></td>
          </tr>

        </tbody>
      </table>
    </div>
    <a [routerLink]="['/admin/forms/create']"><button type="button" class="btn btn-primary btn-lg">Create
        User</button></a>
  </app-card>
</div>