<div class="col-12">
  <app-card cardTitle="User List" blockClass="table-border-style">
    <div class="table-responsive">

      <table class="table table-hover table-striped table-styling">
        <thead>
          <tr>
            <th>Avatar</th>
            <th>Name</th>
            <th>Email Id</th>
            <th>UID</th>
            <th>Created At</th>
            <th>Role</th>
            <th>Meeting Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody *ngFor="let user of Notifications">
          <tr class="active-row">
            <td><img src="assets/images/user/avatar-1.jpg"></td>
            <td>{{user.host_name}}</td>
            <td>{{user.host_email}}</td>
            <td>{{user.id}}</td>
            <td>{{user.host_meeting_end_time}}</td>
            <td>{{user.role}}</td>
            <td><input *ngIf="user.meeting_status==0; else meeting_started" type="radio" class="orange" disabled>  Yet to Start</td>
            <ng-template #meeting_started><td><input *ngIf="user.meeting_status==1; else meeting_ended" type="radio" class="green" disabled> Already Started</td></ng-template>
            <ng-template #meeting_ended><td><input type="radio" class="red" disabled></td> Meeting Ended</ng-template>
            <td [ngStyle]="{'cursor':'pointer'}"><a (click)="Join_Meeting(user)"><span class="badge m-r-5 badge-pill badge-primary">Enter</span></a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <a [routerLink]="['/admin/forms/create']"><button type="button" class="btn btn-primary btn-lg">Create
        User</button></a>
  </app-card>
</div>